.footer {
  height: 144px;
  background-color: $main-color;

  &__container {
    max-width: 1240px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;

    svg {
      margin-right: 13px;
    }

    span {
      @include text-style(1.4rem, 500, $white-color);
      letter-spacing: .1px;
    }
  }

  &__text {
    text-align: right;

    a {
      display: block;
      @include text-style(1.4rem, 400, $white-color);
      line-height: 13.4px;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  @include respond(tab-land) {
    &__container {
      width: 769px;
    }
  }

  @include respond(phone) {
    height: 64px;
    &__container {
      max-width: 375px;
      padding: 0 15px;
      width: unset;
    }

    &__text {
      display: none;
    }
  }
}
